
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterStellar Idol Database</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    
        {% for album in albums %}
        <a href="{% url 'single_album' pk=album.pk %}" class="album_link">
            <div class="album" data-src="{{ album.music }}">
            <img src= '/{{ album.album_art }}' class="album_art">
            <p class="album_name">{{album.name}}</p></a>
            <a href="{% url 'single_artist' pk=album.artist.pk %}" class="artist_link"><p class="album_text">By {{album.artist}}</p></a>
            <p class="album_text">Added {{album.created}}</p>
        </div>
        {% endfor %}
        



{% endblock %}

</body>
</html>