
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    
        {% for album in albums %}
        <a href="{% url 'single_album' pk=album.pk %}">
            <div class="album" data-src="{{ album.music }}">
            <img src= '/{{ album.album_art }}' class="album_art">
            <p class="album_name">{{album.name}}</p>
            <p>By {{album.artist}}</p>
            <p>Added {{album.created}}</p>
        </div></a>
        {% endfor %}
        



{% endblock %}

</body>
</html>