
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterStellar Idol Database</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}

       <div class="single_album">
            <figure class="cover"><img src= '/{{ album.album_art }}' class="album_art_single">
            <figcaption><a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a>
            <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a></figcaption></figure>
            <div class="album_info">
                <p class="album_name">{{album.name}}</p>
                <p>By {{album.artist}}</p>
                <p>Added {{album.created}}</p>
                <div class="track_list">
                <h2>Track List</h2>
                    {% for track in tracks %}
                    <div class="song" data-parent="/{{track.song}}">
                        <p class="track">{{track.name}}</p>
                        </div>
                
                {% endfor %}
                <a href="{% url 'new_track' %}?album={{album.pk}}">Add a Track</a>
            </div>
            
            </div>
  
        </div>




{% endblock %}

</body>
</html>