/* Global Stylings */
p {font-family:sans-serif;margin:.1em;}
.wrap {margin:auto;display:flex;justify-content: center;max-width:1000px;}
.album {margin: 10px;}
/* Homepage Stylings */
.album_art {width:200px;}