/* Global Stylings */
p {font-family:sans-serif;margin:.1em;color:white;}
a {text-decoration:none;font-family: sans-serif;color:fuchsia}
body {background-image: url('/static/images/space-background.png');}
label {color:white;}
a:hover {color:white;}
h1 {font-family:'Press Start 2P', sans-serif;color:white;}
h2 {font-family:'Press Start 2P', sans-serif;color:white;}
#nav_bar {color:fuchsia;text-align:center;width:100%;font-family: 'Press Start 2P', sans-serif;margin: 10px auto}
#player {width:80%;}
.wrap {margin:auto;display:flex;justify-content: center;max-width:1500px;flex-wrap:wrap}
.header {text-align: center;}
.nav_link {font-family: 'Press Start 2P', sans-serif;}
/* Homepage Stylings */
.album {margin: 10px;max-width:200px;}
.album_art {width:200px;}
.album_art:hover {opacity:50%}
.album_name {color:fuchsia;font-size:1.3em;font-family:'Press Start 2P', sans-serif;line-height:25px}
.album_text {color:fuchsia}
.album_link:hover {color:white;}
/* Album Page Stylings */
.single_album {display:flex;justify-content: start;flex-wrap:wrap;margin: 10px auto;}
.album_art_single {width: 400px;}
.album_info {margin:0 auto;text-align: center;}
.track_list {margin-top:10px;}
.cover {margin-top: 0}
.track:hover {color:fuchsia;cursor: pointer;}
/* Artist Page Stylings */
.profile_pic {max-width:500px;}
.single_artist {display:flex;}
.artist_album {max-width:200px}
