{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static '/js/main.js' %}" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="wrap"> 
        <audio controls autoplay id="player">
            <source src="" type="audio/mpeg">
        </audio>
    </div>
    <div id="nav_bar"><div><a href="{% url 'new_album' %}">Add A New Album!</a></div><div><a href="{% url 'new_track' %}">Add A New Song!</a></div></div>
    <div class="wrap">
        {% block content %} 
        {% endblock %}
    </div>
</body>
</html>
